
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:30px">Thêm mới loại công văn</p>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Validate
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <form role="form">
                                <div class="form-group">
                                    <label>Mật khẩu cũ:</label>
                                    <input class="form-control" type="password" placeholder="Nhập tên" name="oldpassword" id="oldpassword">
                                    <label>Mật khẩu mới:</label>
                                    <input class="form-control" type="password" placeholder="Nhập tên" name="newpassword" id="newpassword">
                                    <label>Nhập lại mật khẩu:</label>
                                    <input class="form-control" type="password" placeholder="Nhập tên" name="confirmpassword" id="confirmpassword">
                                </div>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>