<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> @Model.HoTen <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i>@Html.ActionLink("Thông tin cá nhân","ProfileAdmin", "Admin")</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Đổi mật khẩu</a>
            </li>
            <li class="divider"></li>
            <li>
                <a><i class="fa fa-sign-out fa-fw"></i>@Html.ActionLink("Đăng xuất", "LogoutAdmin", "Home")</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->