@model ManagementDispatch.Models.Statistical
@{
    ViewBag.Title = "CountText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:20px">Tổng số công văn: @Model.SUM</p>
<hr />

@Html.Action("CountTextTo", "Statistical")
@Html.Action("CountTextGo", "Statistical")
