@model ManagementDispatch.Models.LoaiCongVan
@{
    /**/

    ViewBag.Title = "Sửa tên loại công văn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-solid">
    <div class="box-body">
        <h1>Sửa tên loại công văn</h1>
        <hr />
        @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.TenLoaiCongVan, "Tên loại công văn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenLoaiCongVan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenLoaiCongVan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
