
@{
    ViewBag.Title = "NotificationAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:30px">Thông báo từ quản trị web</p>
<hr />
<div class="alert alert-warning">Bạn không có quyền được sử dụng chức năng này. Vui lòng liên hệ quản trị web!</div>

